body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions {
    display: flex;
    gap: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #ddd;
}

section {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}