/* Áp dụng các kiểu CSS để làm cho form trông đẹp hơn */
main{
  width: 500px;
  height: 400px;
  margin-left: 500px;
  margin-top: 210px;
  /* display: none; */
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"]{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
  }
  input[type="email"]{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
  }
  input[type="password"]{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
#product-form {
  width: 400px;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  margin-top: 100px; /* Khoảng cách từ top để căn giữa theo chiều dọc */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 550px;
}
.button__sign {
  margin-left: 120px;
}
.button__sign #remember_password {
  margin-left: 170px;
}